
/************************************/
.part{
	margin-top: 60px;
	
}
.left{
	width: 570px;
	float: left;
}
.left div{
	width: 100%;
	background: #eff4f7;
    border-bottom: 2px solid #005e99;
    position: relative;
}
.left div span{
	display: inline-block;
	width: 45px;
	height: 45px;
	background-color: #005e99;
}
.left div span img{
	width: 45px;
	height:41px;
}
.left div a{
	display: inline-block;
	color: #262626;
	font-size: 18px;
	font-weight: 600;
	line-height: 45px;
	position: absolute;
	left: 55px;
	top: 0;
}
.left > a{
	display: block;
	width: 100%;
}
.left > a img {
	width: 100%;
	height: 210px;
}
/*********/
.right{
	width: 570px;
	float: right;
	
}
.right div{
	width: 100%;
	background: #eff4f7;
    border-bottom: 2px solid #005e99;
    position: relative;
    right: 30px;
}
.right div span{
	display: inline-block;
	width: 45px;
	height: 45px;
	background-color: #005e99;
}
.right div span img{
	width: 45px;
	height:41px;
}
.right div a{
	display: inline-block;
	color: #262626;
	font-size: 18px;
	font-weight: 600;
	line-height: 45px;
	position: absolute;
	left: 55px;
	top: 0;
}
.right > a{
	display: block;
	width: 100%;
}
.right > a img {
	width: 100%;
	height: 210px;
	position: relative;
    right: 30px;
}
.part1 .center a>img{
	margin-top: 30px;
}
.it>.center>.items>.item{
	margin-top: 30px;
}
/***************************/
.part8{
	height: 250px;
}
.part8 > .center{
	position: relative;
	height: 250px;
}
.part8 .center a:nth-child(1){
	display: block;
	width: 305px;
	height: 250px;
	float: left;
}
.part8 .center a:nth-child(2){
	display: block;
	width: 277px;
	height: 120px;
	float: left;
	margin-left: 10px;
}
.part8 .center a:nth-child(3){
	display: block;
	width: 277px;
	height: 120px;
	float: left;
	margin-left: 11px;
}
.part8 .center a:nth-child(4){
	display: block;
	width: 310px;
	height: 250px;
	float: right;
}
.part8 .center a:nth-child(5){
	display: block;
	width: 565px;
	height: 120px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.part8 .center a img {
	width: 100%;
	height: 100%;
}

/*****************************************/

 .part9 > .center{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}
 .part9 > .center > h2{
	display: block;
	width: 100%;
	height: 20px;
	margin-top: 30px;
	font-size: 18px;
}
 .part9> .center > div{
	width: 580px;
	height: 210px;
	padding: 45px 30px;
	box-sizing: border-box;
	margin-top: 40px;
}
 .part9> .center > .cat1{
	background-image: url(../deom1/img/popular/popular-cat-img-1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
 .part9 > .center > .cat2{
	background-image: url(../deom1/img/popular/popular-cat-img-2.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
 .part9 > .center > .cat3{
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../deom1/img/popular/popular-cat-img-3.jpg);
}
 .part9 > .center > .cat4{
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../deom1/img/popular/popular-cat-img-4.jpg);
}
 .part9 > .center > div > h4{
	display: inline-block;
	color: #39B0FF;
	padding-bottom: 10px;
}
.part9 > .center > div > a{
	display: block;
	width: 90px;
	color: #333333;
	font-size: 14px;
	padding: 4px 1px;
}
 .part9 > .center > div > a:hover{
	color: #39B0FF;
	transition: 1s;
}
/********************************/
.part10{
	/*width: 1100px;*/
	height: 660px;
	/*border: 1px solid red;*/
	margin-top: 60px;
}
.part10 .section1 {
	/*width: 900px;*/
	float: left;
	
}
.part10 .section1 .section-img>img{
	width: 300px;
	height: 190px;
}
.part10 .section-title{
	width:250px;
	height: 157px;
	/*border: 1px solid red;*/
	text-align: center;
	line-height: 30px;
	font-family: "微软雅黑";
	
}
.part10 .section-title >div>a{
	font-size: 12px;
	color: #666666;
	
}
.part10 .section-title>p{
	font-style: italic;
	font-size: 13px;
	color: #555555;
	font-weight: 600;
}
.part10 .section{
	width: 370px;
	height: 550px;
	float: left;
	/*border: 1px solid red;*/
    margin-top: -35px;
    margin-left: 45px;
}

.part10 .section .sec-img>img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: relative;
	left: 150px;
	
}
.part10 .section .sec-title{
	text-align: center;
	line-height: 30px;
}
.part10 .section .sec-title p{
	font-style: italic;
	font-size: 13px;
	color: #555555;
	font-weight: 600;
}
.dot>ul{
	margin-left: 260px;
}
.dot>ul>li{
	width: 10px;
	height: 10px;
	float: left;
	margin-left: 10px;
	/*border: 1px solid red;*/
	margin-bottom: 10px;
	margin-top: 40px;
	border-radius: 50%;
	background-color: #3B4348;
	
}
.dot>ul>li:nth-child(1){
	background-color: #39B0FF;
}
/*.logo-area>div>ul{
	width: auto;
	height: 190px;
	border: 1px solid red;
}*/
.brabd>.center>div{
	width: 190px;
	height: 60px;
	float: left;
	/*width: auto;*/
	padding: 10px;
	border: 1px solid #EEEEEE;
	margin-left: 20px;
	margin-top: -30px;
}
.brabd>div>a>img{
	width: 190px;
	height: 60px;
	/*margin-left: 20px;*/
	padding: 20px;
}
  .foot-top {
    /*height: 108px;*/
    background-color: #3b4348;
    color: #fff;
    /*padding: 30px 0;*/
}
.foot-top >.center {
    width:1200px;
    height: 108px;
}
.foot-top >.center span:nth-child(1){
	width: 39px;
	height: 45px;
	display: inline-block;
	float: left;
	margin-top: 33px;
}
.foot-top >.center span:nth-child(2){
	font-size: 18px;
	color: #FFFFFF;
}
.foot-top >.center span>img {
    width: 30px;
    height: 25px;
    border: 7px solid white;
    border-radius: 10px;
    display: inline-block;
}
.foot-top >.center input {
    float: left;
    width: 400px;
    height: 48px;
    border: none;
    background-color: white;
    margin-left: 20px;
    padding-left: 15px;
    margin-top: 30px;
}
.foot-top >.center button {
    width: 115px;
    height: 48px;
    background-color: #73b320;
    border: none;
    color: #fff;
    font-weight: 600;
    margin-top: 30px;
    font-size: 20px;
}
.foot-top >.center >div{
	float: right;
}
.foot-top >.center >div i{
	background-color: #3B5999;
    border-radius: 50%;
    display: inline-block;
    float: left;
    /*line-height: 42px;*/
    text-align: center;
    height: 40px;
    width: 40px;
    margin-top: 30px;
    margin-right: 7px;
}

.last {
    background-color: #262626;
    color: #adadad;
    font-size: 14px;
    padding: 30px 0;
    width: 100%;
    height: 92px;
}
.sign {
    font-size: 26px;
    font-weight: bolder;
    line-height: 108px;
    float: left;
    margin-left: 20px;
}
.foot {
    background-color: #313131;
    /*padding: 70px 0;*/
    width: 100%;
    height: 345px;
}
.footer {
    width: auto;
    margin: 0 auto;
    width: 1200px;
    /*height: 100px;*/
    color: #adadad;
    font-size: 12px;
}
.footer ul {
    float: left;
    margin-top: 50px;
    margin-right: 100px;
}
.footer ul dl a {
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.footer ul li span {
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: #adadad;
}
.footer ul li a {
    color: #adadad;
    font-size: 14px;
    padding-left: 10px;
    line-height: 40px;
}
.footer ul li :hover{
 color: #39B0FF;	
}
.footer ul li b{
	line-height: 40px;
}
.adress li{
	display: block;
	width: 260px;
	cursor: pointer;
}
.adress li b{
	font-size: 13px;
	line-height: 45px;
	transition: 0.5s;
}
.adress li b:nth-child(1){
	color: white;
}
.adress li:hover b:nth-child(1){
	color: #73b320;
}
.adress li:hover b:nth-child(2){
	color: white;
}

.foot-last {
	background-color: #262626;
    color: #adadad;
    font-size: 14px;
    /*padding: 30px 0;*/
    width: 100%;
	height: 92px;
}
.foot-last > .last-img{
	display: inline-block;
}
.foot-last  > .tad>.last-img >img{
	margin-left: 1000px;
	margin-top: -18px;
	
}
.tad{
	width: 1200px;
	height: 92px;
	margin: 0 auto;
	display: inline-block;
}
.tad p{
	/*line-height: 92px;*/
	margin-left: 200px;
	margin-top: 35px;
	font-size: 14px;
	color: #ADADAD;
}
.tad span:nth-child(2){
	color: #39b0ff;
}

