.nav2{
    width: 100%;
    background-color: #f1f1f1;
    height: 76px;
    /* border: 1px solid red; */
    font-size: 12px;

}
.nav2 .nav2-menu{

    height: 24px;
    padding: 26px 0;
    margin-left: 360px;
}

.nav2 .nav2-menu >li{
    float: left;
    margin-right: 30px;
    font-weight:545;
}
.nav2 .nav2-menu >li>a{
    position: relative;
    color: #262626;
}
.nav2 .nav2-menu >li>a:hover{
    color: #39b0ff;
}
.nav2 .nav2-menu >li>a::after{
    content: '>';
    position: absolute;
    right: -17px;
    color: #262626;
    
}
/* ******************************** */
.singe-top{
    width: 1200px;
    height: 650px;
    
   
}
.singe-top .singe-top-left{
    width: 455px;
    height: 596px;
    /*border: 1px solid red;*/
}
.singe-top .singe-top-right{
    width: 635px;
    height: 463px;
    /*border: 1px solid red;*/
    margin-left:470px ;
    margin-top: -519px;
}
.singe-top .singe-top-left .left-pic{
    width: 455px;
    height: 510px;
}
.singe-top .singe-top-left .left-owl{
    width: 455px;
    height: 70px;
    margin-left: 30px;
    /*border: 1px solid red;*/
}
.singe-top .singe-top-left .left-owl>ul>li{
    float: left;
}
.singe-top .singe-top-left .left-owl>ul>li>a>img{
    width: 70px;
    height: 70px;
}
.singe-top .singe-top-right>h2>a{
	font-size: 24px;
    line-height: 1.5;
    font-weight: 600;
    margin-top: -10px;
    color: #262626;
}
.singe-top .singe-top-right .star>i>img{
    margin-top: 10px;
    color: #f4ca49;
    font-size: 15px;
    
}
.singe-top .singe-top-right  >span{
	color: #e74c3c;
    font-weight: 700;
    font-size: 18px;
    margin: 11px 0 10px;
    display: block;
}
.singe-top .singe-top-right .add{
	text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 12px;
    color: #555555;
}
.singe-top .singe-top-right .add>span:nth-child(2){
	margin-left: 30px;
	font-weight: 300;
}
.singe-top .singe-top-right >p{
	margin-bottom: 15px;
	font-size: 14px;
	color: #555555;
}
.singe-top .singe-top-right .color{
	
	    margin-bottom: 30px;
	    
}
.singe-top .singe-top-right .color>h4{
	color: #555555;
    /*margin-bottom: 15px;*/
    font-size: 16px;
}
.singe-top .singe-top-right .color>ul{
	    
	   /*position: relative;
	   top: -160px;*/
}
.singe-top .singe-top-right .color >ul>li{
	/*float: left;*/
	width: 35px;
	height: 20px;
	margin-left: 10px;
	float: left;
	position: relative;
	   top: -170px;
	   right: 10px;
	/*margin-top: -30px;*/
	
	
	
}
.singe-top .singe-top-right .color>ul>li>span{
     width: 35px;
     height: 20px;
     background-color: #000000;
    
    margin-left: 15px;
     /*margin-top: -60px;*/
     
}
.singe-top .singe-top-right .singe-add {
	margin-right: 20px;
}
.singe-top .singe-top-right .singe-add .quan>span>input{
	border: 1px solid #d2d2d2;
    text-align:center;
    outline: none;
    font-weight: 700;
    font-size: 13px;
    color: #555555;
    padding: 13px 8px;
    width: 60px;
    height: 20px;
    margin-left: 25px;
}
.singe-top .singe-top-right .singe-add .quan>a{
background-color: #73b320;
    border: none;
    color: #fff;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    padding: 15px 35px;
    text-transform: uppercase;
    outline: none;
    font-size: 14px;
    margin-left: 20px;
    
}
.singe-top .singe-top-right .btn{
	margin-top: 30px;
	
}
.singe-top .singe-top-right .btn>a{
	display:inline-block;
	margin-right: 10px;
	background-color: #e5e8ec;
    padding: 0;
    line-height: 40px;
     /*border: 1px solid red;*/
	    width: 40px;
	    height:40px;
    border-radius: 50%;
}
.singe-top .singe-top-right .btn>a>i>img{
	 margin-left: 13px;
	 margin-top: 10px;
}
.singe-last{
	/*border: 1px solid red;*/
	    width: 1100px;
	    height:390px;
	     margin-bottom: 70px;
}
/*.singe-last> .last-title>a{
	padding: 20px 35px;
	text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
}*/
 .singe-last>.last-title>a:nth-child(1){
 	
	background-color: #73b320;
    color: #fff;
    padding: 20px 35px;
	text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    
}
 .singe-last> .last-title>a:nth-child(2){
	color: #262626;
    background-color: #EAEAEA;
    text-transform: uppercase;
    font-size: 14px;
    padding: 20px 35px;
    line-height: 1.5;
    font-weight: 700;
    display: inline-block;
    height: 20px;
    width: 862px;
    margin-left: -5px;
}
 .singe-last>.last-page{
 	border: 1px solid #eaeaea;
    border-top: none;
    padding: 30px;
   
 }
.singe-last>.last-page>p{
	margin-bottom: 15px;
    
}
.singe-last>.last-page>ul{
	padding-left: 15px;
    line-height: 2;
}
.singe-last>.last-page>ul>li{
	    list-style: square;
}
/***********************/
.foot-top {
    background-color: #3b4348;
    color: #fff;
}
.foot-top >.center {
    width:1200px;
    height: 108px;
}
.foot-top >.center span:nth-child(1){
	width: 39px;
	height: 45px;
	float: left;
	margin-top: 33px;
}
.foot-top >.center span:nth-child(2){
	font-size: 18px;
	color: #FFFFFF;
}
.foot-top >.center span>img {
    width: 30px;
    height: 25px;
    border: 7px solid white;
    border-radius: 10px;

}
.foot-top >.center input {
    float: left;
    width: 400px;
    height: 48px;
    border: none;
    background-color: white;
    margin-left: 20px;
    padding-left: 15px;
    margin-top: 30px;
}
.foot-top >.center button {
    width: 115px;
	height: 48px;
	font-weight: 600;
    background-color: #73b320;
	border: none;
	font-size: 15px;
    color: #fff;
    margin-top: 30px;
}
.foot-top >.center >div{
	float: right;
}
.foot-top >.center >div i{
	background-color: #fff;
	border: none;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 40px;
    margin-top: 30px;
    margin-right: 7px;
}

.foot-last {
    background-color: #262626;
    color: #adadad;
    font-size: 14px;
    width: 100%;
    height: 92px;
}
.sign {
    font-size: 26px;
    font-weight: bolder;
    line-height: 108px;
    float: left;
    margin-left: 15px;
}
.foot-center {
    background-color: #313131;
    width: 100%;
    height: 345px;
}
.footer {
    width: auto;
    margin: 0 auto;
    width: 1200px;
    color: #adadad;
    font-size: 12px;
}
.footer ul {
    float: left;
    margin-top: 50px;
    margin-right: 130px;
}
.footer ul dl a {
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.footer ul li span {
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: #adadad;
}
.footer ul li a {
    color: #adadad;
    font-size: 14px;
    padding-left: 10px;
    line-height: 40px;
}
.footer ul li :hover{
 color: #39B0FF;	
}
.footer ul li b{
	line-height: 40px;
}
.adress li{
	display: block;
	width: 260px;
}
.adress li b{
	font-size: 13px;
	line-height: 45px;
}
.adress li b:nth-child(1){
	color: white;
}
.adress li:hover b:nth-child(1){
	color: #73b320;
}
.adress li:hover b:nth-child(2){
	color: white;
}

.foot-last {
	background-color: #262626;
    color: #adadad;
    font-size: 14px;
    width: 100%;
	height: 92px;
}
.foot-last  > .tad .foot-last-img >img{

	margin-top: -18px;
	margin-left: 1000px;
	
}
.tad{
	width: 1200px;
	height: 92px;
	margin: 0 auto;
	display: inline-block;
}
.tad p{
	font-size: 14px;
	color: #ADADAD;
	margin-left: 350px;
	margin-top: 35px;
}